body {
/*    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    background-color: black;*/
    background-image: url("../Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#myCanvas {
    /*border:1px solid #d3d3d3;*/
}